In [1]:
import pathlib

In [2]:
import joblib
import pandas as pd
from sklearn.dummy import DummyRegressor

In [3]:
categorical_cols = ["store_id", "item_id"]

In [4]:
root_dir_path = pathlib.Path("..")
data_dir_path = root_dir_path / "data"
processed_dir_path = data_dir_path / "processed"
test_path = processed_dir_path / "test.parquet"
models_dir_path = root_dir_path / "models"
model_path = models_dir_path / "model.joblib"
prediction_path = models_dir_path / "prediction.parquet"

In [5]:
test = pd.read_parquet(test_path)

In [6]:
test[categorical_cols] = test[categorical_cols].astype("category")

In [7]:
data = test.select_dtypes(["category", "number"])

In [8]:
data.describe(include="all")

,item_id,store_id,wm_yr_wk,snap_CA,snap_TX,snap_WI,sell_price
count,1707440,1707440,1.707440e+06,1.707440e+06,1.707440e+06,1.707440e+06,1.707440e+06
unique,3049,10,NaN,NaN,NaN,NaN,NaN
top,HOUSEHOLD_2_516,WI_3,NaN,NaN,NaN,NaN,NaN
freq,560,170744,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,1.161679e+04,3.571429e-01,3.571429e-01,3.571429e-01,4.481793e+00
std,NaN,NaN,2.335398e+00,4.791576e-01,4.791576e-01,4.791576e-01,3.533538e+00
min,NaN,NaN,1.161300e+04,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e-01
25%,NaN,NaN,1.161500e+04,0.000000e+00,0.000000e+00,0.000000e+00,2.240000e+00
50%,NaN,NaN,1.161700e+04,0.000000e+00,0.000000e+00,0.000000e+00,3.480000e+00
75%,NaN,NaN,1.161900e+04,1.000000e+00,1.000000e+00,1.000000e+00,5.840000e+00
max,NaN,NaN,1.162100e+04,1.000000e+00,1.000000e+00,1.000000e+00,3.372000e+01

In [9]:
model = joblib.load(model_path)

In [10]:
test["demand"] = model.predict(data)

In [11]:
test.to_parquet(prediction_path)