In [1]:
import pathlib

In [2]:
import joblib
import pandas as pd
from sklearn.dummy import DummyRegressor

In [3]:
categorical_cols = ["store_id", "item_id", "dept_id", "cat_id", "state_id", "event_name_1", "event_type_1", "event_name_2", "event_type_2"]

In [4]:
root_dir_path = pathlib.Path("..")
data_dir_path = root_dir_path / "data"
processed_dir_path = data_dir_path / "processed"
test_path = processed_dir_path / "test_engineered.parquet"
models_dir_path = root_dir_path / "models"
model_path = models_dir_path / "model.joblib"
prediction_path = models_dir_path / "prediction.parquet"

In [5]:
test = pd.read_parquet(test_path)

In [6]:
test[categorical_cols] = test[categorical_cols].astype("category")

In [7]:
data = test.select_dtypes(["category", "number"])

In [8]:
data.describe(include="all")

,item_id,store_id,dept_id,cat_id,state_id,wm_yr_wk,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price,month,weekday
count,1707440,1707440,1707440,1707440,1707440,1.707440e+06,243920,243920,30490,30490,1.707440e+06,1.707440e+06,1.707440e+06,1.707440e+06,1.707440e+06,1.707440e+06
unique,3049,10,7,3,3,NaN,8,4,1,1,NaN,NaN,NaN,NaN,NaN,NaN
top,HOUSEHOLD_2_516,WI_3,FOODS_3,FOODS,CA,NaN,Ramadan starts,Religious,Father's day,Cultural,NaN,NaN,NaN,NaN,NaN,NaN
freq,560,170744,460880,804720,682976,NaN,30490,91470,30490,30490,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,1.161679e+04,NaN,NaN,NaN,NaN,3.571429e-01,3.571429e-01,3.571429e-01,4.481793e+00,5.232143e+00,3.000000e+00
std,NaN,NaN,NaN,NaN,NaN,2.335398e+00,NaN,NaN,NaN,NaN,4.791576e-01,4.791576e-01,4.791576e-01,3.533538e+00,6.265289e-01,2.000001e+00
min,NaN,NaN,NaN,NaN,NaN,1.161300e+04,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e-01,4.000000e+00,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,1.161500e+04,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,2.240000e+00,5.000000e+00,1.000000e+00
50%,NaN,NaN,NaN,NaN,NaN,1.161700e+04,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,3.480000e+00,5.000000e+00,3.000000e+00
75%,NaN,NaN,NaN,NaN,NaN,1.161900e+04,NaN,NaN,NaN,NaN,1.000000e+00,1.000000e+00,1.000000e+00,5.840000e+00,6.000000e+00,5.000000e+00
max,NaN,NaN,NaN,NaN,NaN,1.162100e+04,NaN,NaN,NaN,NaN,1.000000e+00,1.000000e+00,1.000000e+00,3.372000e+01,6.000000e+00,6.000000e+00

In [9]:
model = joblib.load(model_path)

In [10]:
test["demand"] = model.predict(data)

In [11]:
test.to_parquet(prediction_path)